.navbar {
  z-index: 1;
}
.btn-cicle-day {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  justify-content: flex-end !important;
}

.btn-cicle-day img {
  width: 20px;
}
.wellcome-day {
  color: white;
}
.wellcome-night {
  color: black;
}
/* Inputs logIn  */

.inputCommon {
  border-radius: 25px !important;
  padding: 10px !important;
  /* border: 12px solid rgb(206, 206, 206) !important; */
  height: auto !important;
}
.inputDay {
  border: 12px solid #00020b !important;
}
.inputNight {
  border: 12px solid rgb(206, 206, 206) !important;
}
.inputCommon:focus {
  border: 12px solid rgb(21, 126, 2) !important;
  box-shadow: none !important;
}

/* background */
.home-d {
  background-color: #ccc;
}
.home-n {
  background-color: #253337;
}
.day {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: contain;
  background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80");
}
.night {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: " ";
  background-size: contain;
  background-image: url("https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80");
}

.min-vh-100 {
  min-height: 100vh;
}

.o-hidden {
  overflow: hidden;
}

/* card login  */

.card-login {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.card-body-login {
  flex: 1 1 auto;
}

.bg-img {
  background-color: #253337;
}
.bg-login-image {
  background: url("https://ortex-static-files.s3.amazonaws.com/static/public/images/ortex_logo_v-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  margin-top: calc(50% - 75px);
}

/* Buttons for loggin and regist  */

.btnLogin {
  background-color: #146d6c !important;
  border: 2px solid #fff !important;
}
.btnLogin:hover {
  border: 2px solid #146d6c !important;
  background-color: transparent !important;
  color: #146d6c !important;
}
.btnRegist {
  border-radius: 3px !important;
  padding: 10px !important;
  border: 2px solid #146d6c !important;
  background-color: transparent !important;
  color: #146d6c !important;
}
.btnRegist:hover {
  background-color: #146d6c !important;
  color: #fff !important;
}

.w-30-res-reg {
  width: 30%;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

.text-gray-900 {
  color: #3a3b45 !important;
}

.justify-content-around-res-log {
  justify-content: space-around;
}
.w-25-res-log {
  width: 25%;
}

@media (max-width: 500px) {
  .justify-content-around-res-log {
    justify-content: space-between;
  }
  .w-25-res-log {
    width: 35%;
  }
}

@media (max-width: 1199px) {
  .w-30-res-reg {
    width: 45%;
  }
}

.same-height-sing {
  min-height: 537px;
}

@media (max-width: 991px) {
  .same-height-sing {
    min-height: unset;
  }
}
